<template>
<div class="rel">
    <router-link :to="{ path: addurl }" slot="left">
        <div class="bg-add">
            <i class="material-icons">add</i>
        </div>
    </router-link>
</div>
</template>
<script type="text/babel">
    export default {
        props: ['subtitle', 'addurl'],
        data() {
            return {
            }
        }
    }
</script>
<style type="text/css">
.bg-add {
    position: fixed;
    bottom: .3rem;
    right: .3rem;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50% 50%;
    background-color: rgba(238, 0, 0, 0.5);
    color: white;
    z-index: 99;
}
.bg-add i{
    font-size: 1rem !important;
    margin-top: .2rem;
}
</style>
