<template>
<!-- main nav -->
<div>
    <yd-accordion class="main-nav">
        <yd-accordion-item title="微站内容" open>
            <div style="padding: .1rem;">
                <yd-cell-group>
                    <yd-cell-item arrow type="a" href="#/music">
                        <span slot="left">音乐</span>
                    </yd-cell-item>
                    <yd-cell-item arrow type="a" href="#/album">
                        <span slot="left">相册</span>
                    </yd-cell-item>
                    <yd-cell-item arrow type="a" href="#/video">
                        <span slot="left">视频</span>
                    </yd-cell-item>
                    <yd-cell-item arrow type="a" href="#/project">
                        <span slot="left">演出</span>
                    </yd-cell-item>
                    <yd-cell-item arrow type="a" href="#/crowdfund">
                        <span slot="left">众筹</span>
                    </yd-cell-item>
                    <yd-cell-item arrow type="a" href="#/product">
                        <span slot="left">周边</span>
                    </yd-cell-item>
                    <yd-cell-item arrow type="a" href="#/profile">
                        <span slot="left">音乐人资料</span>
                    </yd-cell-item>
                </yd-cell-group>
            </div>
        </yd-accordion-item>
        <yd-accordion-item title="微站管理">
            <div style="padding: .1rem;">
                <yd-cell-group>
                    <yd-cell-item arrow type="a" href="#/wallet">
                        <span slot="left">钱包</span>
                    </yd-cell-item>
                    <yd-cell-item arrow type="a" href="#/admire">
                        <span slot="left">赞享</span>
                    </yd-cell-item>
                    <yd-cell-item arrow type="a" href="#/order">
                        <span slot="left">订单</span>
                    </yd-cell-item>
                    <yd-cell-item arrow type="a" href="#/authentication">
                        <span slot="left">认证 / 绑定</span>
                    </yd-cell-item>
                </yd-cell-group>
            </div>
        </yd-accordion-item>
        <yd-accordion-item title="账号设置">
            <div style="padding: .1rem;">
                <yd-cell-group>
                    <yd-cell-item arrow type="a" href="#/account">
                        <span slot="left">注册信息</span>
                    </yd-cell-item>
                    <yd-cell-item arrow type="a" href="#/sites">
                        <span slot="left">多站管理</span>
                    </yd-cell-item>
                </yd-cell-group>
            </div>
        </yd-accordion-item>
    </yd-accordion>

    <yd-tabbar class="demo-small-pitch bottomnav"  slot="tabbar">
        <yd-tabbar-item title="首页" link="home">
            <yd-icon name="home" slot="icon" size="0.54rem"></yd-icon>
        </yd-tabbar-item>
        <yd-tabbar-item title="多站" link="sites">
            <yd-icon name="ucenter-outline" slot="icon" size="0.54rem"></yd-icon>
        </yd-tabbar-item>
        <yd-tabbar-item title="退出" link="#">
            <yd-icon name="error-outline" slot="icon" size="0.54rem"></yd-icon>
        </yd-tabbar-item>
    </yd-tabbar>
</div>
</template>
<script type="text/babel">
    export default {
        data() {
            return {
            }
        },
        methods: {
            closenav: function(){
            }
        }
    }
</script>
<style type="text/css">
.closenav {
    position: fixed;
    right: .3rem;
    top: .3rem;
    font-size: .6rem;
    font-weight: 800 !important;
    color: #dddddd;
}
.main-nav{
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
}
.bottomnav{
    position: fixed;
    bottom: 0;
}
</style>
