<template>
<div class="item-wrap">
    <yd-flexbox>
        <yd-flexbox-item class="music-no">{{musicno}}</yd-flexbox-item>
        <yd-flexbox-item class="music-title flex-wrap-text">{{musictitle}}</yd-flexbox-item>
        <yd-flexbox-item class="music-recommend-title">推荐试听</yd-flexbox-item>
        <yd-flexbox-item class="music-recommend">
            <yd-switch v-model="musicrecommend" color="#ee0000"></yd-switch>
        </yd-flexbox-item>
    </yd-flexbox>
    <yd-flexbox>
        <yd-flexbox-item>
            <div class="media-icon"><i class="material-icons ico-mp3">audiotrack</i><br>mp3
            </div>
        </yd-flexbox-item>
        <yd-flexbox-item>
            <yd-flexbox direction="vertical">
                <yd-flexbox-item>
                    <yd-button type="hollow" size="large" >
                        <div class="ico-play">
                            <i class="material-icons ico-try">play_arrow</i>
                        </div>
                        <div class="ico-try-title">试听</div>
                    </yd-button>
                </yd-flexbox-item>
                <yd-flexbox-item>
                    <yd-button type="hollow" size="large" @click.native="show_edit_pop = true">编辑歌词</yd-button>
                    <yd-popup v-model="show_edit_pop" position="bottom" height="80%">
                        <yd-textarea maxlength="1000" class="lyric-content" v-model="musiclycis">请输入歌词</yd-textarea>
                        <yd-button type="hollow" style="margin: .5rem 0 .5rem 0; width: 1.8rem" @click.native="show_edit_pop = false">取消</yd-button>
                        <yd-button type="danger" style="margin: .8rem 0 .5rem 0; width: 1.8rem" @click.native="handelLycis">确认</yd-button>
                    </yd-popup>
                </yd-flexbox-item>
            </yd-flexbox>
        </yd-flexbox-item>
        <yd-flexbox-item>
            <yd-flexbox direction="vertical">
                <yd-flexbox-item class="is-left music-try">
                    <span class="title1">试听数</span><br>
                    <span class="title2 flex-wrap-text">12,390</span>
                </yd-flexbox-item>
                <yd-flexbox-item>
                    <yd-button type="hollow" size="large" class="btn-delete">删除</yd-button>
                </yd-flexbox-item>
            </yd-flexbox>
        </yd-flexbox-item>
    </yd-flexbox>
</div>
</template>
<script type="text/babel">
    export default {
        props: ['music_id', 'music_no', 'music_title', 'music_recommend', 'music_lycis'],
        data() {
            return {
                show_edit_pop: false,
                musicid: this.music_id,
                musicno: this.music_no,
                musictitle: this.music_title,
                musicrecommend: this.music_recommend,
                musiclycis: this.music_lycis,
            }
        },
        methods: {
            handelLycis: function() {
                // console.log(this.lycis_content)
                window.submitStart(this, '正在保存');

            }
        }
    }
</script>
<style type="text/css">
.item-wrap{
    padding: .46rem 0;
    border-bottom: #dddddd 1px dashed;

}
.media-icon{
    width: 1.9rem;
    height: 1.9rem;
    border: #dddddd .01rem solid;
    margin-left: .39rem;
    margin-top: .2rem;
    color: #dddddd;
}
.music-no{
    font-size: .8rem;
    color: #aaaaaa;
}
.music-title{
    flex: 3;
    text-align: left !important;
    font-size: .36rem;
}
.music-recommend-title{
    color: #bbbbbb;
    margin-right: .1rem;
}
.yd-switch{
    z-index: 99;
}
.yd-btn-block {
    margin-top: .15rem;
    font-size: .3rem;
    height: .9rem;
    }
.music-try {
    height: 1rem;
    padding-top: .1rem;
    color: #aaaaaa;
    margin-left: .3rem;
}
.music-try .title1 {
    padding-top: .3rem;
    font-size: .26rem;
}
.music-try .title2 {
    font-size: .42rem;
}
.btn-delete {
    color: #ee0000;
    border: #ee0000 .01rem solid !important;
}
.ico-mp3{
    margin-top: .18rem;
    font-size: 1rem;
}
.ico-try {
    margin-top: .15rem;
    color: #dddddd;
}
.ico-play{
    position: absolute;
    left: .46rem;
    top: .1rem;
}
.ico-try-title{
    margin-top: .08rem;
    margin-left: .5rem;
}
.yd-flexbox-vertical {
    padding: 8px 8px 8px 0 !important;
}
.lyric-content{
    width: 7rem;
    margin: .3rem !important;
    border: #dddddd 1px solid;
    padding: .3rem;
    height: 4rem;
}
.lyric-content.yd-textarea>textarea {
    height: 4rem !important;
}
</style>
