<template>
<div class="go-left">
    <span class="title1">{{pagetitle}}</span><span class="title2"> {{pagesubtitle}}</span>
</div>
</template>
<script type="text/babel">
    export default {
        props: ['pagetitle', 'pagesubtitle'],
        data() {
            return {
            }
        }
    }
</script>
<style type="text/css">
.go-left{
    text-align: left;
    margin-top: .3rem;
    margin-bottom: .3rem;
}
.title1{
    font-size: .6rem;
    color: #999999;
    margin-left: .5rem;
    margin-right: .2rem;
}
.title2{
    font-size: .3rem;
    color: #999999;
}
</style>
