<template>
<div>
    <yd-navbar>
        <router-link :to="backurlto" slot="left">
            <yd-navbar-back-icon></yd-navbar-back-icon>
        </router-link>
        <div slot="center" class="title">{{subtitle}}</div>
    </yd-navbar>
</div>
</template>
<script type="text/babel">
    export default {
        props: ['subtitle', 'backurlto'],
        data() {
            return {
            }
        }
    }
</script>
<style type="text/css">
.title{
    font-size: .4rem;
}
</style>
