<template>
<div>
    <sub-nav subtitle="编辑相册" backurlto="album"></sub-nav>
    <!--cover img upload-->
    <div class="head-img"
         :style="{ backgroundImage: 'url(' + images + ')' }"
         v-on:click="clickChangeImage">
        <input type="file"
               name="image"
               id="fileToUpload"
               ref="imageInput"
               @change="uploadImageFile"
               accept="image/*"
               style="display: none;" />
    </div>
    <yd-flexbox direction="vertical">
        <yd-flexbox-item class="cover-title">专辑封面</yd-flexbox-item>
    </yd-flexbox>
</div>
</template>
<script type="text/babel">
    import myUpload from 'vue-image-crop-upload';
    export default {
        data() {
            return {
                images: "",
                show: false,
                params: {
                    token: '123456798',
                    name: 'avatar'
                },
                headers: {
                    smail: '*_~'
                },
                imgDataUrl: '' // the datebase64 url of created image

            }
        },
        // avatar
        components: {
            'my-upload': myUpload
        },
        methods: {
            toggleShow() {
                this.show = !this.show;
            },

            clickChangeImage() {
                console.log('ashu');
                this.$refs.imageInput.click();
//                document.getElementById("fileToUpload").click();
            },
            uploadImageFile() {
                window.submitStart(this, '图片上传中');
                var fd = new FormData();
                var count = this.$refs.imageInput.files.length;
                if (count === 0) {
                    this.$dialog.loading.close();
                    return;
                }
                for (var index = 0; index < count; index ++)
                {
                    var file = this.$refs.imageInput.files[index];
                    fd.append('image', file);
                    break;
                }

                if ((Math.round(file.size * 100 / 1024) / 100) > 5000) {
                    window.submitFail(this, '图片大小不能超过5M');
                    return;
                }

                var app = this;
                var xhr = new XMLHttpRequest();
//                  xhr.upload.addEventListener("progress", uploadProgress, false);
                xhr.addEventListener("load", function (evt) {
                    console.log(evt);
                    if (evt.currentTarget.status != 200) {
                        app.imageUploadFail();
                    } else {
                        var responseBody = JSON.parse(evt.currentTarget.responseText);
                        if (responseBody.errcode == '0') {
                            app.imageUploadSuccess(responseBody.images);
                        } else {
                            app.imageUploadFail();
                        }
                    }
                }, false);
                xhr.addEventListener("error", function (evt) {
                    app.imageUploadFail()
                }, false);
                xhr.addEventListener('abort', function (evt) {
                    app.imageUploadFail();
                }, false);
                xhr.open("POST", adminApi('upload_image'));
                xhr.send(fd);

            },
            imageUploadFail() {
                window.submitFail(this, '上传失败');
            },
            imageUploadSuccess(images) {
                window.submitSuccess(this, '上传成功');
                this.images = images;
            }
        }
    }
</script>
<style type="text/css">
.section1{
    margin: 0.5rem .3rem;
}
.s1-e1 {
    position: relative;
    margin-right: .2rem;
}
.s1-e2 {
    width: 100%;
}
.s1-e2 .yd-flexbox{
    text-align: left;
    font-size: .3rem;
    line-height: .6rem;
}
.music-cover{
    width: 2.6rem;
    height: 2.6rem;
}
.icon-edit{
    position: absolute;
    right: .08rem;
    bottom: .08rem;
}
.music-name {
    font-size: .36rem;
    margin-bottom: .3rem;
}
.cover-title{
    color: #cccccc;
}
.cover-img-box {
    width: 2rem;
    height: 2rem;
    border: #ddd 1px solid;
    margin: 0 auto;
}
.cover-img {
    max-width: 2rem;
    max-height: 2rem;
}
.rel a{
    position: absolute;
    top: 42%;
    left: 47%;
}
.head-img {
    width: 68px;
    height: 68px;
    border: 1px solid #C8C7CC;
    background-size: cover;
    margin: 8px auto 0;
}
</style>
