<template>
<div>
    <sub-nav subtitle="微站内容" backurlto="home"></sub-nav>
    <page-title pagetitle="相册" pagesubtitle=""></page-title>
    <yd-infinitescroll :callback="loadList" ref="infinitescrollDemo">
        <yd-list theme="1" slot="list">
            <yd-grids-group :rows="2" item-height="4.6rem">
                <yd-grids-item v-for="item, key in list" :key="key" >
                    <div slot="else" style="text-align: left;">
                        <img :src="item.img" style="height: 3rem; width: 3rem;">
                        <div class="album-count">{{item.count}} 张相片</div>
                        <div class="album-title">{{item.title}}</div>
                    </div>
                </yd-grids-item>
            </yd-grids-group>
        </yd-list>
        <!-- add button -->
        <add-file addurl="albumadd"></add-file>
        <!-- 数据全部加载完毕显示 -->
        <span slot="doneTip">没有数据啦~~</span>
        <!-- 加载中提示，不指定，将显示默认加载中图标 -->
        <img slot="loadingTip" src="http://static.ydcss.com/uploads/ydui/loading/loading10.svg"/>
    </yd-infinitescroll>
    <!-- back to top -->
    <!-- <yd-backtop></yd-backtop> -->
</div>
</template>
<script type="text/babel">
    export default {
        data() {
            return {
                page: 1,
                pageSize: 10,
                list: [
                    {
                        id: 1,
                        img: "http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image",
                        title: "相册名称 1",
                        count: 6
                    },
                    {
                        id: 2,
                        img: "http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image",
                        title: "相册名称 2",
                        count: 12
                    },
                    {
                        id: 3,
                        img: "http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image",
                        title: "相册名称 3",
                        count: 3
                    },
                    {
                        id: 4,
                        img: "http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image",
                        title: "相册名称 4",
                        count: 2
                    },
                    {
                        id: 5,
                        img: "http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image",
                        title: "相册名称 5",
                        count: 12
                    },
                    {
                        id: 6,
                        img: "http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image",
                        title: "相册名称 6",
                        count: 65
                    },
                    {
                        id: 7,
                        img: "http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image",
                        title: "相册名称 7",
                        count: 12
                    },
                    {
                        id: 8,
                        img: "http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image",
                        title: "相册名称 8",
                        count: 65
                    },
                    {
                        id: 9,
                        img: "http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image",
                        title: "相册名称 9",
                        count: 12
                    },
                    {
                        id: 10,
                        img: "http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image",
                        title: "最后一个",
                        count: 65
                    }
                ]
            }
        },
        methods: {
            loadList() {
                this.$http.jsonp('http://list.ydui.org/getdata.php?type=backposition', {
                    params: {
                        page: this.page,
                        pagesize: this.pageSize
                    }
                }).then(function (response) {
                    const _list = response.body;

                    this.list = [...this.list, ..._list];

                    if (_list.length < this.pageSize || this.page == 3) {
                        /* 所有数据加载完毕 */
                        this.$refs.infinitescrollDemo.$emit('ydui.infinitescroll.loadedDone');
                        return;
                    }

                    /* 单次请求数据完毕 */
                    this.$refs.infinitescrollDemo.$emit('ydui.infinitescroll.finishLoad');

                    this.page++;
                });
            }
        }

    }
</script>
<style type="text/css">
.yd-list-img img{
    height: 100vh;
}
.yd-list-item {
    padding: .3rem;
}
.demo-list-price{

}
.yd-list-title {
    font-size: .32rem;
    line-height: .5rem;
    height: .56rem !important;
}
.album-cover{
    width: 3rem;
    height: 3rem;
}
</style>
