<template>
<div>
    <sub-nav subtitle="新建相册" backurlto="album"></sub-nav>

    <yd-cell-group class="content">
        <yd-cell-item type="label" class="border_b">
            <span slot="left">相册名称</span>
            <yd-input slot="right" v-model="album.title" class="is-right album-title"></yd-input>
        </yd-cell-item>
    </yd-cell-group>
    <!--cover img upload-->
    <div class="head-img"
         :style="{ backgroundImage: 'url(' + images + ')' }"
         v-on:click="clickChangeImage">
        <input type="file"
               name="image"
               id="fileToUpload"
               ref="imageInput"
               @change="uploadImageFile"
               accept="image/*"
               style="display: none;" />
    </div>

</div>
</template>
<script type="text/babel">
    import myUpload from 'vue-image-crop-upload';
    export default {
        data() {
            return {
                images: "",
                show: false,
                params: {
                    token: '123456798',
                    name: 'avatar'
                },
                headers: {
                    smail: '*_~'
                },
                imgDataUrl: '', // the datebase64 url of created image
                album: {
                    title: "名称"
                }

            }
        },
        // avatar
        components: {
            'my-upload': myUpload
        },
        methods: {
            toggleShow() {
                this.show = !this.show;
            },

            clickChangeImage() {
                console.log('ashu');
                this.$refs.imageInput.click();
//                document.getElementById("fileToUpload").click();
            },
            uploadImageFile() {
                window.submitStart(this, '图片上传中');

            },
            imageUploadFail() {
                window.submitFail(this, '上传失败');
            },
            imageUploadSuccess(images) {
                window.submitSuccess(this, '上传成功');
                this.images = images;
            }
        }
    }
</script>
<style type="text/css">
.section1{
    margin: 0.5rem .3rem;
}
.s1-e1 {
    position: relative;
    margin-right: .2rem;
}
.s1-e2 {
    width: 100%;
}
.s1-e2 .yd-flexbox{
    text-align: left;
    font-size: .3rem;
    line-height: .6rem;
}
.music-cover{
    width: 2.6rem;
    height: 2.6rem;
}
.icon-edit{
    position: absolute;
    right: .08rem;
    bottom: .08rem;
}
.music-name {
    font-size: .36rem;
    margin-bottom: .3rem;
}
.cover-title{
    color: #cccccc;
}
.cover-img-box {
    width: 2rem;
    height: 2rem;
    border: #ddd 1px solid;
    margin: 0 auto;
}
.cover-img {
    max-width: 2rem;
    max-height: 2rem;
}
.rel a{
    position: absolute;
    top: 42%;
    left: 47%;
}
.head-img {
    width: 68px;
    height: 68px;
    border: 1px solid #C8C7CC;
    background-size: cover;
    margin: 8px auto 0;
}
.border_b{
    border-bottom: #dddddd 1px solid;
}
.yd-cell-box {
    margin: 0 .28rem;
}
.yd-cell-item {
    padding-left: 0;
}
.yd-cell-left{
    color: #999999;
}
.album-title>input{
    font-size: .56rem !important;
}
</style>
