<template>
    <yd-layout>
        <!-- header -->
        <yd-navbar v-show="!mainnav" slot="navbar" title="三分半音乐 - 音乐人后台" class="topnav">
            <router-link to="" slot="left" @click.native="mainnav = true">
                <i class="material-icons navicon">list</i>
            </router-link>
            <router-link to="/" slot="right" >
                <i class="material-icons navicon homenav">home</i>
            </router-link>
        </yd-navbar>
        <!-- nav -->
        <div v-show="mainnav">
            <!-- close nav -->
            <yd-flexbox @click.native="mainnav = false" class="is-right">
                <i class="material-icons closenav">clear</i>
            </yd-flexbox>
            <!-- main nav -->
            <main-nav></main-nav>
        </div>
        <div class="maincontent" v-show="!mainnav" >
            <!-- section 1 -->
            <yd-flexbox class="home-section1a">
                <div class="home-se1">
                    <router-link to="profile" slot="left">
                        <img src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image" class="home-avatar">
                    </router-link>
                </div>
                <div>
                    <router-link to="profile" slot="left">
                        <div class="home-se2">邓紫棋
                            <div class="home-se2b">已认证</div>
                        </div>
                    </router-link>
                </div>
                <div>
                    <router-link to="wallet" slot="left">
                        <div class="home-se3">￥231,290</div>
                    </router-link>
                </div>
                <div class="home-se4">
                    <i class="material-icons">keyboard_arrow_right</i>
                </div>
            </yd-flexbox>
            <yd-flexbox class="home-section1b"></yd-flexbox>
            <!-- section 2 -->
            <div class="home-section2">
                <yd-flexbox>
                    <yd-flexbox-item class="home-s2-e1">昨日收入</yd-flexbox-item>
                </yd-flexbox>
                <yd-flexbox>
                    <yd-flexbox-item class="home-s2-e2">
                        <yd-flexbox>
                            <yd-flexbox-item>
                                <div>
                                    <router-link to="admire" slot="left">
                                        <div class="s2-e2-price">+129</div>
                                        <div class="s2-e2-title">赞赏</div>
                                    </router-link>
                                </div>
                            </yd-flexbox-item>
                            <yd-flexbox-item>
                                <div>
                                    <router-link to="product" slot="left">
                                        <div class="s2-e2-price">+32</div>
                                        <div class="s2-e2-title">周边</div>
                                    </router-link>
                                </div>
                            </yd-flexbox-item>
                            <yd-flexbox-item>
                                <div>
                                    <router-link to="project" slot="left">
                                        <div class="s2-e2-price">+9210</div>
                                        <div class="s2-e2-title">演出</div>
                                    </router-link>
                                </div>
                            </yd-flexbox-item>
                            <yd-flexbox-item>
                                <div>
                                    <router-link to="crowdfund" slot="left">
                                        <div class="s2-e2-price">+32199</div>
                                        <div class="s2-e2-title">众筹</div>
                                    </router-link>
                                </div>
                            </yd-flexbox-item>
                        </yd-flexbox>
                    </yd-flexbox-item>
                </yd-flexbox>
            </div>
            <!-- section 3 -->
            <div class="home-section3">
                <div>
                    <router-link to="music" slot="left">
                        <yd-flexbox>
                            <yd-flexbox-item class="s3-title">歌曲试听</yd-flexbox-item>
                            <yd-flexbox-item class="s3-num">+ 12</yd-flexbox-item>
                        </yd-flexbox>
                    </router-link>
                </div>
                <div>
                    <router-link to="music" slot="left">
                        <yd-flexbox>
                            <yd-flexbox-item class="s3-title">新增粉丝</yd-flexbox-item>
                            <yd-flexbox-item class="s3-num">+ 6</yd-flexbox-item>
                        </yd-flexbox>
                    </router-link>
                </div>

                <div>
                    <router-link to="admire" slot="left">
                        <yd-flexbox>
                            <yd-flexbox-item class="s3-title">赞赏榜</yd-flexbox-item>
                            <yd-flexbox-item class="s3-num">No. 126</yd-flexbox-item>
                        </yd-flexbox>
                    </router-link>
                </div>
            </div>
        </div>
    </yd-layout>
</template>

<script type="text/babel">
    export default {
        prop: [],
        created () {

        },
        data() {
            return {
                mainnav: false
            }
        },
        methods: {
        }
    }
</script>

<style>
.navicon{
    font-size: .8rem;
}
.yd-navbar-center-title {
    font-size: .34rem !important;
    color: #222222 !important;
}
.yd-popup-mask {
    background-color: rgba(0,0,0,.2);
}
.home-avatar{
    height: 1.8rem;
    width: 1.8rem;
    margin: .2rem;
    border-radius: 50% 50%;
}

.home-section1a, .home-section1b {
    background-color: #ee0000;
    color: white;
}
.home-section1a{
    margin-top: 1rem;
}
.home-section1b {
    height: 1rem;
}
.home-se1{
    margin: 0 .1rem 0 0;
}
.home-se2{
    font-size: .4rem;
    font-weight: 600;
    margin-right: .16rem;
    width: 1.2rem;
}
.home-se2b{
    font-size: .26rem;
    background-color: #ffcccc;
    color: #ee0000;
    padding: 0 .08rem;
}
.home-se3{
    margin: 0 .1rem 0 0;
    font-size: .6rem;
    font-weight: 600;
    width: 2.9rem;
}
.home-se4{
    margin-left: .1rem;
}
.home-section2{
    background-color: white;
    margin: -1.1rem .18rem 0 .18rem;
    border-radius: .06rem;
    box-shadow: .02rem .02rem .09rem #aaaaaa;
}
.home-section3 .yd-flexbox {
    margin: .4rem .18rem 0 .18rem;
    background-color: #54b7ff;
    border-radius: .04rem;
    color: white;
    margin-bottom: .28rem;
}
.home-s2-e1 {
    font-size: .36rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
}
.home-s2-e2 {
    font-size: .32rem;
    margin-left: .3rem;
    margin-right: .3rem;
    margin-bottom: .3rem;
    color: #ee0000;
}
.s2-e2-price{
    font-size: .42rem;
    width: 100%;
}
.s2-e2-title{
    font-size: .32rem;
    padding-top: .2rem;
    width: 100%;
}
.s3-title{
    font-size: .42rem;
    font-weight: 800;
}
.s3-num{
    font-size: .7rem;
    margin: .36rem .5rem .36rem .1rem;
    text-align: right;
}
.homenav{
    color: #dddddd;
    font-size: .6rem !important;
}
</style>
