<template>
    <yd-layout>
        <h1 class="demo-logo">
            <yd-icon name="home" size=".6rem" color="#FF685D"></yd-icon>
        </h1>
        <h2 class="demo-detail-title">3分半</h2>

        <yd-grids-group rows="4">
            <yd-grids-item v-for="item in list" :link="item.link" :key="item.id">
                <span slot="text">{{item.name}}</span>
            </yd-grids-item>
        </yd-grids-group>
    </yd-layout>
</template>

<script type="text/babel">
    export default {
        data() {
            return {
                list: [
                    {icon: 'demo-icons-button', name: '登录', link: '/login'},
                    {icon: 'demo-icons-home', name: '首页', link: '/home'},
                    {icon: 'demo-icons-cell', name: '音乐', link: '/music'},
                    {icon: 'demo-icons-icons', name: '相册', link: '/album'},
                    {icon: 'demo-icons-grids', name: '视频', link: '/video'},
                    {icon: 'demo-icons-list', name: '演出', link: '/project'},
                    {icon: 'demo-icons-badge', name: '众筹', link: '/crowdfund'},
                    {icon: 'demo-icons-tabbar', name: '周边', link: '/product'},
                    {icon: 'demo-icons-tabs', name: '资料', link: '/profile'},
                    {icon: 'demo-icons-actionsheet', name: '钱包', link: '/wallet'},
                    {icon: 'demo-icons-sendcode', name: '赞享', link: '/admire'},
                    {icon: 'demo-icons-progressbar', name: '订单', link: '/order'},
                    {icon: 'demo-icons-keyboard', name: '认证', link: '/authentication'},
                    {icon: 'demo-icons-slider', name: '注册信息', link: '/account'},
                    {icon: 'demo-icons-spinner', name: '多站', link: '/sites'},
                ]
            }
        }
    }
</script>
