<template>
    <div class="bg">
        <div class="section1">
            <yd-flexbox direction="vertical">
                <yd-flexbox-item></yd-flexbox-item>
                <div class="title">登录微信音乐人</div>
            </yd-flexbox>
        </div>
        <div class="section2">
            <yd-cell-group>
                <yd-cell-item>
                    <span slot="left"><i class="material-icons">person</i></span>
                    <yd-input slot="right" required v-model="mobilenum" max="20" placeholder="手机号" regex="mobile" :disabled="validInputs"></yd-input>
                </yd-cell-item>
                <yd-cell-item>
                    <span slot="left"><i class="material-icons">lock</i></span>
                    <yd-input slot="right" type="password" v-model="pwd" placeholder="密码" :disabled="validInputs"></yd-input>
                </yd-cell-item>
            </yd-cell-group>
        </div>
        <div class="section3">
            <yd-button size="large" type="hollow" @click.native="handleLogin" :disabled="validInputs">{{submitText}}<img v-if="spinnerShow" src="/img/index.ajax-spinner-preloader.gif" alt="loading" height="50"> </yd-button>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        prop: [],
        created () {

        },
        data() {
            return {
                mobilenum: "",
                pwd: "",
                validInputs: false,
                submitText: "立即登录",
                spinnerShow: false,
            }
        },
        methods: {
            handleLogin() {
                let vm = this
                vm.validInputs= true
                vm.submitText = ""
                vm.spinnerShow =  true
                // login api here
                vm.$http.get('/someUrl').then(response => {
                    // get body data
                    console.log(response)

                    this.$dialog.toast({
                        mes: '嗯，貌似你登录成功了',
                        timeout: 1500,
                        icon: 'success'
                    });
                    this.resetFormValue()
                  }, response => {
                    // error callback
                    console.log(response)
                    this.$dialog.toast({
                        mes: '服务器没反应，找网管！',
                        timeout: 1500,
                        icon: 'error',
                        callback: () => {
                            this.$dialog.alert({mes: '给你一次重来的机会！'});
                        }
                    });
                    this.resetFormValue()
                  });
            },
            resetFormValue() {
                this.validInputs= false
                this.submitText = "立即登录"
                this.spinnerShow =  false
            }
        }
    }
</script>

<style>
.bg {
    background-image: url('/img/bg_login.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100%;
    padding: 0 .4rem;
}
.title {
    color: white;
    font-weight: 600;
    font-size: .7rem;
}
.section1 {
    height: 268px;
    margin-bottom: .5rem
}
.section3 {
    margin-top: .8rem;
}
.section3 button{
    color: #ee0000;
}
.material-icons{
    margin-right: .2rem;
    color: #d4d4d4;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
</style>
