<template>
<div>
    <sub-nav subtitle="微站内容" backurlto="home"></sub-nav>
    <page-title pagetitle="音乐" pagesubtitle="我的专辑/单曲"></page-title>
    <!-- loop start -->
    <yd-infinitescroll :callback="loadList" ref="infinitescrollDemo">
        <yd-list theme="1" slot="list">

            <yd-flexbox class="section1" v-for="item, key in list" :key="key" >
                <div class="s1-e1">
                    <router-link :to="{ path: 'musicedit', query: {aid: item.id} }" slot="left">
                        <yd-icon name="compose" size=".5rem" color="#ee0000" class="icon-edit"></yd-icon>
                    </router-link>
                    <img :src="item.album_cover" alt="placeholder+image" class="music-cover">
                </div>
                <div class="s1-e2">
                    <yd-flexbox direction="vertical">
                        <yd-flexbox-item class="music-name">{{item.album_name}}</yd-flexbox-item>
                        <yd-flexbox-item>
                            <yd-flexbox>
                                <yd-flexbox-item>试听: {{item.album_try}}</yd-flexbox-item>
                                <yd-flexbox-item>评论: {{item.album_commend}}</yd-flexbox-item>
                            </yd-flexbox>
                        </yd-flexbox-item>
                        <yd-flexbox-item>
                            <yd-flexbox>
                                <yd-flexbox-item>歌曲: {{item.music_count}}</yd-flexbox-item>
                                <yd-flexbox-item>已上传:  {{item.music_uploaded}}</yd-flexbox-item>
                            </yd-flexbox>
                        </yd-flexbox-item>
                        <yd-flexbox-item>赞享：￥{{item.music_admire}} (本周+{{item.music_admire_week}})</yd-flexbox-item>
                    </yd-flexbox>
                </div>
            </yd-flexbox>

        </yd-list>
        <!-- add button -->
        <!-- <add-file addurl="musicadd"></add-file> -->
        <!-- 数据全部加载完毕显示 -->
        <span slot="doneTip">没有数据啦~~</span>
        <!-- 加载中提示，不指定，将显示默认加载中图标 -->
        <img slot="loadingTip" src="http://static.ydcss.com/uploads/ydui/loading/loading10.svg"/>
    </yd-infinitescroll>
    <!-- back to top -->
    <!-- <yd-backtop></yd-backtop> -->
</div>
</template>
<script type="text/babel">
    export default {
        data() {
            return {
                page: 1,
                pageSize: 10,
                list: [
                    {
                        id: 1,
                        album_cover: 'http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image',
                        album_no: 1,
                        album_name: '蔡健雅',
                        album_try: 12,
                        album_commend: 2,
                        music_count: 6,
                        music_uploaded: 3,
                        music_admire: 99,
                        music_admire_week: 16

                    },
                    {
                        id: 2,
                        album_cover: 'http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image',
                        album_no: 2,
                        album_name: 'Despacito',
                        album_try: 18,
                        album_commend: 9,
                        music_count: 1,
                        music_uploaded: 1,
                        music_admire: 1200,
                        music_admire_week: 981
                    },
                    {
                        id: 3,
                        album_cover: 'http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image',
                        album_no: 2,
                        album_name: 'Despacito',
                        album_try: 18,
                        album_commend: 9,
                        music_count: 1,
                        music_uploaded: 1,
                        music_admire: 1200,
                        music_admire_week: 981
                    },
                    {
                        id: 4,
                        album_cover: 'http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image',
                        album_no: 2,
                        album_name: 'Despacito',
                        album_try: 18,
                        album_commend: 9,
                        music_count: 1,
                        music_uploaded: 1,
                        music_admire: 1200,
                        music_admire_week: 981
                    },
                    {
                        id: 5,
                        album_cover: 'http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image',
                        album_no: 2,
                        album_name: 'Despacito',
                        album_try: 18,
                        album_commend: 9,
                        music_count: 1,
                        music_uploaded: 1,
                        music_admire: 1200,
                        music_admire_week: 981
                    },
                    {
                        id: 6,
                        album_cover: 'http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image',
                        album_no: 2,
                        album_name: 'Despacito',
                        album_try: 18,
                        album_commend: 9,
                        music_count: 1,
                        music_uploaded: 1,
                        music_admire: 1200,
                        music_admire_week: 981
                    },
                ],

            }
        },
        methods: {

            loadList() {
                this.$http.jsonp('http://list.ydui.org/getdata.php?type=backposition', {
                    params: {
                        page: this.page,
                        pagesize: this.pageSize
                    }
                }).then(function (response) {
                    const _list = response.body;

                    this.list = [...this.list, ..._list];

                    if (_list.length < this.pageSize || this.page == 3) {
                        /* 所有数据加载完毕 */
                        this.$refs.infinitescrollDemo.$emit('ydui.infinitescroll.loadedDone');
                        return;
                    }

                    /* 单次请求数据完毕 */
                    this.$refs.infinitescrollDemo.$emit('ydui.infinitescroll.finishLoad');

                    this.page++;
                });
            }
        }
    }
</script>
<style type="text/css">
.section1{
    margin: 0.5rem .3rem;
}
.s1-e1 {
    position: relative;
    margin-right: .2rem;
}
.s1-e2 {
    width: 100%;
}
.s1-e2 .yd-flexbox{
    text-align: left;
    font-size: .3rem;
    line-height: .6rem;
}
.music-cover{
    width: 2.6rem;
    height: 2.6rem;
}
.icon-edit{
    position: absolute;
    right: .08rem;
    bottom: .08rem;
}
.music-name {
    font-size: .36rem;
    margin-bottom: .3rem;
}
</style>
