<template>
<div>
    <sub-nav subtitle="编辑专辑 / 单曲" backurlto="music"></sub-nav>
    <div class="head-img" :style="{ backgroundImage: 'url(' + image + ')' }"></div>
    <yd-flexbox direction="vertical">
        <yd-flexbox-item class="cover-title">专辑封面</yd-flexbox-item>
    </yd-flexbox>
    <yd-cell-group class="content">
        <yd-cell-item type="label">
            <span slot="left">专辑名称</span>
            <yd-input slot="right" v-model="music.title"></yd-input>
        </yd-cell-item>
        <yd-cell-item type="label" @click.native="showcate = true">
            <span slot="left">类别</span>
            <span slot="right">
                {{music.musiccate}}
                <yd-actionsheet :items="cates" v-model="showcate" cancel="取消"></yd-actionsheet>

            </span>
        </yd-cell-item>
        <yd-cell-item atype="label">
            <span slot="left">发行时间</span>
            <yd-datetime type="date" v-model="music.date" slot="right"></yd-datetime>
        </yd-cell-item>
        <yd-cell-item @click.native="showspec = true">
            <span slot="left">介质</span>
            <span slot="right" >
                {{music.musicspec}}
                <yd-actionsheet :items="specs" v-model="showspec" cancel="取消"></yd-actionsheet>
            </span>
        </yd-cell-item>
        <yd-cell-item type="label" class="description-title">
            <span slot="left">描述</span>
            <yd-textarea slot="right" maxlength="1000" :placeholder="music.description" v-model="music.description"></yd-textarea>
        </yd-cell-item>
        <yd-cell-item type="label" class="list-title">
            <span slot="left">歌曲列表</span>
            <!--<span slot="right"><yd-button type="danger">+ 添加歌曲</yd-button></span>-->
        </yd-cell-item>
    </yd-cell-group>
    <div v-for="item in list" :key="item.id" v-show="showspec==false">
            <music-item :music_id="item.id" :music_no="item.music_no" :music_title="item.music_title" :music_recommend="item.music_recommend" :music_lycis="item.music_lycis"></music-item>
    </div>
    <yd-button-group>
        <yd-button type="danger" size="large" @click.native="submitHandler" class="m-t-1 m-b-1">保存专辑</yd-button>
    </yd-button-group>
</div>
</template>
<script type="text/babel">
    export default {
        data() {
            return {
                music: {
                    id: 0,
                    title: '蔡健雅',
                    musiccate: '单曲',
                    musicspec: '数字',
                    date: '2017-10-10',
                    description: "如果你无法简洁的表达你的想法，那只说明你还不够了解它。"
                },
                showcate: false,
                showspec: false,
                cates: [
                    {
                        label: '单曲 Single',
                        callback: () => {
                            let vm = this;
                            vm.music.musiccate = '单曲'
                            // vm.$dialog.toast({mes: "已选择" + vm.music.musiccate});
                            /* 注意： callback: function() {} 和 callback() {}  这样是无法正常使用当前this的 */
                        }
                    },
                    {
                        label: '小专辑 EP',
                        callback: () => {
                            let vm = this;
                            vm.music.musiccate = '小专辑'
                            // vm.$dialog.toast({mes: "已选择" + vm.music.musiccate});
                        }
                    },
                    {
                        label: '专辑 LP',
                        callback: () => {
                            let vm = this;
                            vm.music.musiccate = '专辑'
                            // vm.$dialog.toast({mes: "已选择" + vm.music.musiccate});
                        }
                    },
                    {
                        label: '合辑 V.A',
                        callback: () => {
                            let vm = this;
                            vm.music.musiccate = '合辑'
                            // vm.$dialog.toast({mes: "已选择" + vm.music.musiccate});
                        }
                    }
                ],
                specs: [
                    {
                        label: '数字 Digi',
                        callback: () => {
                            let vm = this;
                            vm.music.musicspec = '数字'
                            // vm.$dialog.toast({mes: "已选择" + vm.music.musicspec});
                            /* 注意： callback: function() {} 和 callback() {}  这样是无法正常使用当前this的 */
                        }
                    },
                    {
                        label: '磁带 Tape',
                        callback: () => {
                            let vm = this;
                            vm.music.musicspec = '磁带'
                            // vm.$dialog.toast({mes: "已选择" + vm.music.musicspec});
                        }
                    },
                    {
                        label: '光盘 CD',
                        callback: () => {
                            let vm = this;
                            vm.music.musicspec = '光盘'
                            // vm.$dialog.toast({mes: "已选择" + vm.music.musicspec});
                        }
                    },
                    {
                        label: '黑胶 Vinyl',
                        callback: () => {
                            let vm = this;
                            vm.music.musicspec = '黑胶'
                            // vm.$dialog.toast({mes: "已选择" + vm.music.musicspec});
                        }
                    }
                ],
                list: [
                    {id: 1, music_no: 1, music_title: '蔡健雅1', music_recommend: false, music_lycis: "lycis1"},
                    {id: 2, music_no: 2, music_title: 'Despacito', music_recommend: false, music_lycis: "lycis2"},
                ],
                image: "http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image",
            }
        },
        methods: {
            submitHandler: function() {
                window.submitStart(this, '正在保存');
            }
        }
    }
</script>
<style type="text/css">
.section1{
    margin: 0.5rem .3rem;
}
.s1-e1 {
    position: relative;
    margin-right: .2rem;
}
.s1-e2 {
    width: 100%;
}
.s1-e2 .yd-flexbox{
    text-align: left;
    font-size: .3rem;
    line-height: .6rem;
}
.music-cover{
    width: 2.6rem;
    height: 2.6rem;
}
.music-name {
    font-size: .36rem;
    margin-bottom: .3rem;
}
.head-img {
    width: 2.6rem;
    height: 2.6rem;
    background-size: cover;
    margin: 8px auto 0;
}
.content .yd-cell .yd-cell-item .yd-cell-left span {
    color: #bec2c9;
    font-size: .4rem;
}
.content .yd-cell .yd-cell-item{
    padding: .26rem;
    border-bottom: #eeeeee 1px solid;
}
.yd-cell-right, .yd-input input {
    font-size: .35rem !important;
    text-align: right !important;
}
.description-title{
    align-items: flex-start !important;
}
.description {
    font-size: .28rem;
    text-align: left;
    margin-left: .3rem;
}
.yd-cell-right .yd-datetime-input {
    text-align: right;
    justify-content: flex-end;
}
.yd-textarea {
    padding: .1rem 0;
    margin-left: .2rem;
}
.list-title {
    border-bottom: none !important;
}
</style>
