<template>
<div>
    <sub-nav subtitle="账号设置" backurlto="home"></sub-nav>
    <page-title pagetitle="多站" pagesubtitle="我的站点"></page-title>
</div>
</template>
<script type="text/babel">
    export default {
        data() {
            return {
            }
        }
    }
</script>
<style type="text/css">
</style>
