<template>
<div>
    <sub-nav subtitle="微站内容" backurlto="home"></sub-nav>
    <page-title pagetitle="视频" pagesubtitle=""></page-title>
</div>
</template>
<script type="text/babel">
    export default {
        data() {
            return {
            }
        }
    }
</script>
<style type="text/css">
</style>
