[v-cloak] {
  display: none !important;
}
// * { touch-action: none; } //千万不要加这条
body {
    text-align: center;
    background-color: white !important;
    font-size: .3rem !important;
}
body, html{
    height: auto !important;
}
.demo-logo {
    margin-top: 1rem;
}
.rel {
    position: relative;
}
.is-left{
    text-align: left !important;
}
.bg-login {
  background-image: url('/img/bg_login.png');
}
// overwrite
.yd-btn-disabled {
    background-color: #f9f9f9 !important;
    color: #dddddd !important;
}
.is-right{
    text-align: right !important;
    -webkit-box-align: right !important;
    -webkit-align-items: right !important;
    -ms-flex-align: right !important;
    align-items: right !important;
}
.yd-cell-right {
    min-height: .75rem !important;
}
.yd-cell-item:not(:last-child):after,
.yd-cell:after, .yd-accordion-head:after,
.yd-accordion-content:after {
    border: none !important;
}
.yd-accordion-title {
    font-size: .48rem !important;
    color: #dddddd !important;
}
.yd-cell-left {
    font-size: .35rem !important;
}
.router-link-active .yd-cell-left,
.router-link-active>span>i,
.router-link-active .yd-tabbar-txt{
    color: #ee0000 !important;
}
.router-link-active .yd-cell-arrow:after {
    content: none;
}
[class^="demo-icons-"]:before, [class*=" demo-icons-"]:before {
    color: rgb(151, 151, 151) !important;
}
.topnav{
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 99;
}
.maincontent{
    margin-top: 0rem;
}
.yd-navbar:after {
    border-bottom: none !important;
}
.yd-cell-box {
    margin-bottom: 0 !important;
}
.vue-image-crop-upload .vicp-wrap {
    width: 100% !important;
}
.vue-image-crop-upload .vicp-wrap .vicp-step2 .vicp-crop .vicp-crop-left {
    float: auto !important;
}
.vue-image-crop-upload .vicp-wrap .vicp-operate {
    position: relative !important;
}
.flex-wrap-text {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-b-1 {
    margin-bottom: 1rem !important;
}
.m-t-1 {
    margin-top: 1rem !important;
}
.ico-edit{
    color: #ee0000;
    font-size: .36rem !important;
}
.is-right, .is-right input {
    text-align: right !important;
}
